.leftTableSide,
.rightTableSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#history-board .card {
  width: 85px;
  height: 125px;
}

#middle-section {
  width: 100%;
  min-height: 30vh;
  justify-content: center;
}

#buttonHistory {
  max-height: 30vh;
  height: 100%;
}

.hand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 330px;
}

#playerDeckDiv {
  align-content: end;
}

#opponentDeckDiv {
  align-content: start;
}
